body::after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("https://morsethecode.github.io/ElementosDeLive/BoostTema/files/Overlays/Boost_Webcam.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: none;
}
